<div class="form-style-5">
  <script>
    $.notify("<%= notice %>", "success");
  </script>

  <h1> <%= t('message.listing') %> Contatos</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th colspan="2" style="text-align:center">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.nome %></td>
          <td><%= contato.tipo.descricao %></td>
          <td> <%= link_to t('buttons.edit'), edit_contato_path(contato) %> </td>
          <td> <%= link_to t('buttons.destroy'), contato, method: :delete, data: { confirm: t('message.confirm') } %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><br>
  <span style="text-align: center">
    <%= paginate @contatos %>
  </span>
  <br>

  <%= link_to t('buttons.new'), new_contato_path, class: "btn btn-success"%>
  <%= link_to t('buttons.home'), root_path, class: "btn btn-primary"%>
</div>

<% pagina = 'contatos' %>
<%= render partial: "/contatos/shared/footer", locals: { pg: pagina } %>
