<div class="form-style-5">

  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Endereco:</strong>
    <%= @endereco.endereco %>
  </p>
  
  <p>
    <strong>Cidade:</strong>
    <%= @endereco.cidade %>
  </p>
  
  <p>
    <strong>Estado:</strong>
    <%= @endereco.estado %>
  </p>
  
  <p>
    <strong>Contato:</strong>
    <%= @endereco.contato %>
  </p>
  
  <%= link_to 'Edit', edit_endereco_path(@endereco) %> |
  <%= link_to 'Back', enderecos_path %>
  
</div>