<p id="notice"><%= notice %></p>

<p>
  <strong>Logradouro:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Número:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @address.district %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @address.zipcode %>
</p>

<%= link_to 'Editar', edit_address_path(@address) %> |
<%= link_to 'Voltar', addresses_path %>
